<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Додати інформацію про себе</title>
</head>
<body>
<p th:text="${test}"></p>
<form method="Post">
    <label for="education">Освіта</label>
    <br>
    <input type="text" id="education" name="education" placeholder="">
    <br>
    <label for="experience">Досвід роботи</label>
    <br>
    <input type="text" id="experience" name="experience" placeholder="">
    <br>
    <label for="awards">Нагороди\Відзнаки</label>
    <br>
    <input type="text" id="awards" name="awards" placeholder="">
    <br>
    <label for="aboutme">Інформація про себе</label>
    <br>
    <input type="text" id="aboutme" name="aboutme" placeholder="">
    <br>
    <input type="submit" value="Відправити"/>
</form>
<a href="/MainPage">Назад</a>
</body>
</html>