<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <link th:href="@{/css/test.css}" rel="stylesheet" />
</head>
<body>
<div th:if = "${currentUser.getDoctor() == 'doctor'}">
    <div class="test">
    <p> Акаунт лікаря</p>
    </div>
    <a href="/AddInformation">Додати інформацію про себе</a>
    <br/>
    <a href="/AboutDoctor">Моя інформація</a>
    <br/>
    <a href="/SetDisease">Поставити діагноз</a>
    <br/>
    <a href="/UserList">Список користувачів</a>
    <br/>
</div>
<div th:if = "${currentUser.getDoctor() != 'doctor'}">
    <div class="test">
        <p> Акаунт пацієнта</p>
    </div>
    <a href="/AboutDoctor">Інформація про лікаря</a>
    <br>
    <a href="/MyDisease">Мій діагноз</a>
</div>
<a href="/MeetingPage">Переглянути зустрічі</a>
<br/>
<p th:text="${currentUser.getName()}"></p>
<p th:text="${currentUser.getEmail()}"></p>
<p th:text="${currentUser.getDoctor()}"></p>
<a href="/SignIn">Вийти</a>
</body>
</html>