<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
</head>
<body>
<div th:if = "${currentUser.getDoctor() == 'doctor'}">
    <p> Акаунт лікаря</p>
    <a href="/SetDisease">Поставити діагноз</a>
    <br/>
    <a href="/UserList">Список користувачів</a>
    <br/>
</div>
<div th:if = "${currentUser.getDoctor() != 'doctor'}">
    <p> Акаунт пацієнта</p>
    <a href="/MyDisease">Мій діагноз</a>
</div>
<a href="/MeetingPage">Переглянути зустрічі</a>
<br/>
<p th:text="${currentUser.getName()}"></p>
<p th:text="${currentUser.getEmail()}"></p>
<p th:text="${currentUser.getDoctor()}"></p>
<a href="/SignIn">Вийти</a>
</body>
</html>