<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Головна сторінка</title>
    <link th:href="@{/css/MainPAge.css}" rel="stylesheet" />
    <link th:href="@{/css/Index.css}" rel="stylesheet" />
</head>
<body>
<div class="MainPage">
    <div class="header">
        <div class="userInfo">
            <p th:text="${currentUser.getDoctor()}"></p>
            <p th:text="${currentUser.getName()}"></p>
        </div>

        <a href="/SignIn" class="button">Вийти</a>
    </div>
<div th:if = "${currentUser.getDoctor() == 'doctor'}" class="wrapper">
    <div class="container">
        <div class="item">
            <a href="/AddInformation">Додати інформацію про себе</a>
        </div>
        <div class="item">
            <a href="/AboutDoctor">Моя інформація</a>
        </div>
        <div class="item">
            <a href="/SetDisease">Поставити діагноз</a>
        </div>
        <div class="item">
            <a href="/UserList">Список пацієнтів</a>
        </div>
        <div class="item">
            <a href="/Statistic">Статистика</a>
        </div>
        <div class="item">
            <a href="/MeetingPage">Переглянути зустрічі</a>
        </div>
    </div>
</div>
<div th:if = "${currentUser.getDoctor() != 'doctor'}" class="wrapper">
    <div class="container">
        <div class="item">
            <a href="/AboutDoctor">Інформація про лікаря</a>
        </div>
        <div class="item">
            <a href="/MyDisease">Мій діагноз</a>
        </div>
        <div class="item">
            <a href="/MeetingPage">Переглянути зустрічі</a>
        </div>
    </div>
</div>
</div>
</body>
</html>