<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ваші зустрічі</title>
</head>
<body>
<div th:if = "${currentUser.getDoctor() != 'doctor'}">
    <a href="/AddMeeting">Додати зустріч</a>
    <div th:each="meeting : ${meetingList}">
        <div th:if="${meeting.getApproved()=='waiting'}">
        <p th:text="${'Лікар: ' + meeting.getDoctor() +' Дата: ' + meeting.getDate() + ' Статус : очікується підтвердження'}">Age</p>
        </div>
        <div th:if="${meeting.getApproved()=='true'}">
        <p th:text="${'Лікар: ' + meeting.getDoctor() +' Дата: ' + meeting.getDate() + ' Статус : підтверджено'}">Age</p>
        </div>
        <div th:if="${meeting.getApproved()=='false'}">
        <p th:text="${'Лікар: ' + meeting.getDoctor() +' Дата: ' + meeting.getDate() + ' Статус : скасовано'}">Age</p>
        </div>
    </div>
</div>
<div th:if = "${currentUser.getDoctor() == 'doctor'}">
    <div th:each="meeting : ${meetingList}">
        <div th:if="${meeting.getApproved()=='waiting'}">
        <p th:text="${'Пацієнт: ' + meeting.getName() +' Дата: ' + meeting.getDate() + ' Статус : очікується підтвердження'}">Age</p>
            <form method="Post">
            <input type="hidden" name="id" th:value="${meeting.getId()}">
            <button type="submit" name="action" onClick='return confirmSubmit()' value="save">Підтвердити</button>
            <button type="submit" name="action" onClick='return cancelSubmit()' value="cancel">Скасувати</button>
        </form>
        </div>
        <div th:if="${meeting.getApproved()=='true'}">
            <p th:text="${'Пацієнт: ' + meeting.getName() +' Дата: ' + meeting.getDate() + ' Статус : підтверджено'}">Age</p>
            <form method="Post">
                <input type="hidden" name="id" th:value="${meeting.getId()}">
                <button type="submit" name="action" onClick='return confirmSubmit()' value="save">Підтвердити</button>
                <button type="submit" name="action" onClick='return cancelSubmit()' value="cancel">Скасувати</button>
            </form>
        </div>
    </div>
</div>
<a href="/MainPage">Назад</a>
</body>
</html>
<script>
    function confirmSubmit()
    {
        var agree=confirm("Затвердити зустріч?");
        if (agree)
            return true ;
        else
            return false ;
    }
    function cancelSubmit()
    {
        var agree=confirm("Відмовити в зустрічі?");
        if (agree)
            return true ;
        else
            return false ;
    }
</script>