<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Діагноз</title>
    <link th:href="@{/css/Index.css}" rel="stylesheet" />
    <link th:href="@{/css/MyDisease.css}" rel="stylesheet" />
</head>
<body>
<div th:if = "${info.getDisease() != null}"class="wrapper">
    <div class="infoContainer">
        <p>Пацієнт</p>
        <p th:text="${info.getName()}"></p>
    </div>
    <div class="infoContainer">
        <p>Лікар</p>
        <p th:text="${info.getDoctor()}"></p>
    </div>
    <div class="infoContainer">
        <p>Діагноз</p>
        <p th:text="${info.getDisease()}"></p>
    </div>
    <div class="infoContainer">
        <p>Лікування</p>
        <p th:text="${info.getMedicine()}"></p>
    </div>
    <div>
        <a href="/MainPage" class="button">Назад</a>
    </div>
</div>
<div th:if = "${info.getDisease() == null}" class="wrapper">
    <p>Діагноз відсутній</p>
    <div>
    <a href="/MainPage" class="button">Назад</a>
    </div>
</div>

</body>
</html>