<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if = "${info.getDisease() != null}">
    <p th:text="${'Пацієнт: ' +info.getName()}"></p>
    <p th:text="${'Лікар: ' + info.getDoctor()}"></p>
    <p th:text="${'Діагноз: ' + info.getDisease()}"></p>
    <p th:text="${'Лікування: ' + info.getMedicine()}"></p>
</div>
<div th:if = "${info.getDisease() == null}">
    <p>Діагноз відсутній</p>
</div>
    <a href="/MainPage">Назад</a>
</body>
</html>