<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новий лікар</title>
  <link th:href="@{/css/SignIn.css}" rel="stylesheet" />
  <link th:href="@{/css/DoctorUp.css}" rel="stylesheet" />
</head>
<body>
<p style="color: red" th:text = "${redirect}"></p>
<div class="DoctorUpForm">
  <form method="Post">
    <div class="inputForm">
    <label for="key"> Введіть ключове слово</label>
    <input class="inputField" type="text" id="key" name="key">
    </div>
    <div class="inputForm">
    <label for="name">Введіть ім'я: </label>
    <input class="inputField" type="text" name="name" id="name"/>
    </div>
    <div class="inputForm">
    <label for="email">Введіть емайл: </label>
    <input class="inputField" type="text" name ="email" id="email"/>
    </div>
    <div class="inputForm">
    <label for="number">Введіть номер телефону: </label>
    <input class="inputField" type="text" name="number" id="number"/>
    </div>
    <div class="inputForm">
    <label for="password">Введіть пароль: </label>
    <input class="inputField" type="password" name="password" id="password"/>
    </div>
    <div class="btnMother">
    <input class="btnSubmit" type="submit" value="Зареєструватися"/>
    </div>
  </form>
  </form>
  <div>
  <a href="/SignIn">Вже маєш акаунт?</a>
  </div>
</div>
</body>
</html>