<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/SignIn.css}" rel="stylesheet" />
    <title>Ввійти в акаунт</title>
</head>
<body>
<div class="SignInForm">
    <div>
        <p style="color: red" th:text = "${redirect}"></p>
    </div>
    <form method="Post">
        <div class="inputForm">
        <label class="labelForm" for="email"> Логін</label>
        <input class="inputField" type="text" id="email" name="email" placeholder="Введдіть логін">
        </div>
        <div class="inputForm">
        <label class="labelForm"  for="password"> Пароль</label>
        <input class="inputField" type="password" id="password" name="password" placeholder="Веддіть пароль">
        </div>
        <div class="btnMother">
        <input class="btnSubmit" type="submit" value="Ввійти"/>
        </div>
    </form>
    <div>
    <a href="/SignUp">Не зареєстрований?</a>
    </div>
</div>
</body>
</html>