<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реєстрація</title>
</head>
<body>
<div class="aaa">
    <form th:method="POST" th:action="@{SignUp}" th:object="${users}">
        <label for="name">Введіть ім'я: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="email">Введіть емайл: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <label for="number">Введіть номер телефону: </label>
        <input type="text" th:field="*{number}" id="number"/>
        <br/>
        <label for="password">Введіть пароль: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <br/>
        <label for="password">Виберіть вашого лікаря: </label>
        <select th:field="*{doctor}">
            <option value=""> ------ </option>
            <option th:each="ListForDropDown : ${doctorList}"
                    th:value="${ListForDropDown.getName}"
                    th:text="${ListForDropDown.getName() +', '+ListForDropDown.getNumber()}"></option>
        </select>
        <br/>
        <input type="submit" value="Зареєструватися"/>
    </form>
</div>
<a href="/SignIn">Вже маєш акаунт?</a>
<br>
<a href="/NewDoctor">Ви лікар?</a>
</body>
</html>