<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/SignIn.css}" rel="stylesheet" />
    <title>Ввійти в акаунт</title>
</head>
<body>
<div class="SignInForm">
    <div>
        <p style="color: red" th:text = "${redirect}"></p>
    </div>
    <h1 class="headLiner">Авторизація</h1>
    <form method="Post">
        <div class="inputForm">
        <label class="labelForm" for="email"> Логін</label>
        <input class="inputField" type="text" id="email" name="email" >
        </div>
        <div class="inputForm">
        <label class="labelForm"  for="password"> Пароль</label>
        <input class="inputField" type="password" id="password" name="password" >
        </div>
        <div class="btnMother">
            <button class="btnSubmit" type="submit">Ввійти</button>
        </div>
    </form>
    <div>
    <a href="/SignUp">Не зареєстрований?</a>
    </div>
</div>
</body>
</html>