<!DOCTYPE html>
<html lang="en">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link th:href="@{/css/Index.css}" rel="stylesheet" />
    <link th:href="@{/css/Statistic.css}" rel="stylesheet" />
</head>
<body>
<div class="statisticBlock">
    <div>
        <a href="/MainPage" class="button backBtn">Назад</a>
    </div>
<div style="display: flex; height: fit-content; width: fit-content;" class="staticWrapper">
<div style="height: 400px; width: 700px;">
    <canvas id="myChart" ></canvas>
</div>
</div>
    <div class="infoWrapper">
        <div class="infoContainer">
            <p>Загальна кількість пацієнтів: </p>
            <p th:text="${ cPatient}"></p>
        </div>
        <div class="infoContainer">
            <p>Перебувають на лікуванні: </p>
            <p th:text="${cSick}"></p>
        </div>
        <div class="infoContainer">
            <p>Відсоток хворих: </p>
            <p th:text="${ pSick}"></p>
        </div>
        <div th:if = "${PopularIll == 'COVid 19'}">
            <div class="infoContainer">
                <p>Найпоширеніша хвороба: </p>
                <p th:text="${ PopularIll }"></p>
            </div>
            <div class="infoContainer">
                <p>Що складає: </p>
                <p th:text="${ pPopular + '%'}"></p>
            </div>
        </div>
        <div th:if = "${PopularIll != 'COVid 19'}">
            <div class="infoContainer">
                <p>Найпоширеніша хвороба на даний момент: </p>
                <p th:text="${ PopularIll }"></p>
            </div>
            <div class="infoContainer">
                <p>Що складає: </p>
                <p th:text="${ pPopular + '%'}"></p>
            </div>
            <div class="infoContainer">
                <p>Хворих на COVid 19: </p>
                <p th:text="${ cCovid }"></p>
            </div>
            <div class="infoContainer">
                <p>Що складає: </p>
                <p th:text="${ pCovid }+'%'"></p>
            </div>
        </div>
</div>
</div>
</body>

<script th:inline="javascript">
    let ctx = document.getElementById('myChart').getContext('2d');
    let pSick = [[${cSick}]];
    let pCovid = [[${cCovid}]];
    let pCount = [[${cPatient}]];
    let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Кількість пацієнтів','Хворих','Хворих на COVid-19','Хворих на інші хвороби'],
            datasets: [{
                label: 'Кількість хворих',
                data: [pCount,pSick,pCovid,pSick-pCovid,0],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options:
            {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
    });
</script>

</html>