<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/test.css" th:href="@{/css/test.css}" />
</head>
<body>
<p th:text=${text}></p>
<a href="/da">Click me!</a>

<div class="aaa">
    <form method="Post">
        <label for="email"> Майбутня авторизація БА</label>
        <br>
        <input type="text" id="email" name="email" placeholder="Введдіть логін">
        <input type="submit" value="Convert"/>
    </form>
</div>
<h2>Carefully Styled Heading</h2>
<p>
    This is text on which we want to apply <strong>very special</strong> styling.
</p>
</body>
</html>