<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сторінка користувача</title>
    <link th:href="@{/css/Index.css}" rel="stylesheet" />
    <link th:href="@{/css/UserById.css}" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
<div class="infoContainer">
<p>Пацієнт:</p>
<p th:text="${ user.getName()}"></p>
</div>
<div class="infoContainer">
<p>Пошта:</p>
<p th:text="${ user.getEmail()}"></p>
</div>
<div class="infoContainer">
<p>Номер телефону</p>
<p th:text="${ user.getNumber()}"></p>
</div>
<div class="infoContainer">
<p>Діагноз</p>
<p th:text="${ disease.getDisease()}"></p>
</div>
<div class="infoContainer">
<p>Лікування</p>
<p th:text="${disease.getMedicine()}"></p>
</div>
<a href="/UserList" class="button">Назад</a>
</div>
</body>
</html>